@import './Global.css';

.navbar {
    position: relative;
}

.navbar-list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-list:is(.vertical-navbar-list) {
    flex-direction: column;
    gap: 0rem;
}

.navbar-list li,
.vertical-navbar-list li {
    cursor: pointer;
}

.navbar-list a,
.vertical-navbar-list a {
    display: block;
    padding: 0px;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-list a:visited,
.vertical-navbar-list a:visited {
    color: var(--secondary-4);
}

.navbar-list a:hover,
.vertical-navbar-list a:hover {
    color: var(--primary-2);
    text-shadow: 1px 0 2px var(--primary-2);
}

.hamburger {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-list {
        display: none;
        position: absolute;
        top: 30px;
        right: -30px;
        background-color: var(--secondary-3);
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 1000;
    }

    .navbar-list.show {
        display: flex;
        border-radius: 16px;
        box-shadow: 0px 0px 10px 0px var(--primary-1);
        text-align: center;
    }

    .navbar-list.show a:hover {
        background-color: var(--primary-1);
    }

    .hamburger {
        display: block;
        position: relative;
        top: 0px;
        right: 0px;
    }
}