/* Navbar container styling */
/* .navbar {
} */

/* Styling for the list in the navbar */
.navbar-list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical-navbar-list {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Styling for each list item */
.navbar-list li, .vertical-navbar-list li {
    cursor: pointer;
    /* Optional: makes the list items clickable */
}

/* Styling for the anchor tags */
.navbar-list a, .vertical-navbar-list a {
    text-decoration: none;
    font-size: 1rem;
}

.navbar-list a:visited, .vertical-navbar-list a:visited {
    color: black;
    /* Use the same color as non-visited links */
}

/* Optional: Hover effect for links */
.navbar-list a:hover, .vertical-navbar-list a:hover {
    color: #f4ce14;
    /* Use lemon color for hover (or choose another) */
}