.navbar-list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical-navbar-list {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-list li, .vertical-navbar-list li {
    cursor: pointer;
}

.navbar-list a, .vertical-navbar-list a {
    text-decoration: none;
    font-size: 1rem;
}

.navbar-list a:visited, .vertical-navbar-list a:visited {
    color: black;
}

.navbar-list a:hover, .vertical-navbar-list a:hover {
    color: #f4ce14;
}